{% extends 'base.html' %}

{% block head %}
<title>Create Appointment | NHIS App</title>
{% endblock head %}

{% block body %}
<div class="ui container">
    <form class="ui form" action="{% url 'core:create_appointment' %}" method="POST">
        {% csrf_token %}
        <h3 class="ui dividing header">Create Appointment</h3>
        <div class="field">
            <label>Title</label>
            <input type="text" name="title" placeholder="Appointment Title">
        </div>

        <div class="field">
            <label>Description</label>
            <textarea name="description"></textarea>
        </div>

        <div class="field">
            <label>Doctor</label>
            <div class="ui search">
                <div class="ui icon input">
                    <input class="prompt" name="doctor" type="text" placeholder="Search doctors...">
                    <i class="search icon"></i>
                </div>
                <div class="results"></div>
            </div>
        </div>


        <div class="field">
            <label>Date</label>
            <input type="date" name="date">
        </div>

        <button type="submit" class="ui primary button">
            Create
        </button>

    </form>
</div>

<script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.5.0/dist/semantic.min.js"></script>


<script>
    var content = {{doctors | safe}};
    $('.ui.search')
        .search({
            source: content
        })
        ;

    

</script>
{% endblock body %}