{% extends 'base.html' %}

{% block head %}
<title>{{treatment.name}} | Treatment | NHIS App</title>
{% endblock head %}

{% block body %}
<div class="ui padded segment">
    <h1 class="ui header">{{treatment.name}}</h1>
    <div class="meta"><i class="clock icon"></i> {{treatment.date_started}} </div>

    <div class="ui clearing divider"></div>

    <div class="ui right aligned grid">
      <div class="left floated left aligned six wide column">
        <div class="ui segment">
          <h4 class="ui header">Doctor</h4>

          <img class="ui avatar image" src="https://ui-avatars.com/api/?name={{treatment.doctor.fullname}}&rounded=true">
          <span>{{treatment.doctor}}</span>
        </div>
      </div>
      <div class="right floated left aligned six wide column">
        <div class="ui segment">
          <h4 class="ui header">Patient</h4>

          <img class="ui avatar image" src="https://ui-avatars.com/api/?name={{treatment.patient.fullname}}&rounded=true">
          <span>{{treatment.patient}}</span>
        </div>
      </div>
    </div>

    <div class="ui clearing divider"></div>

    <div class="ui text segment">
        {{treatment.description}}
    </div>

    <div style="margin-top: 5px;">
      {% if treatment.is_started %}
      <a class="ui small orange label">Ongoing</a>
      {% elif treatment.is_completed %}
      <a class="ui small teal label">Completed</a>
      {% endif %}
    </div>
  </div>
{% endblock body %}